<form class="list-View-Entry"  ng-submit="$ctrl.requestGame()">
    <div>Activity: <b><i>{{$ctrl.game.sport}}</i></b>i at {{$ctrl.time}} at <u>{{$ctrl.game.location}}</u>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend"> 
              <button type="submit" value="submit" class="input-group-text" id="inputGroup-sizing-sm">Join Game</button>
            </div>
            <input type="text" id="smsNum" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Enter # and click to join game"
            ng-model="$ctrl.smsNum" >
        </div>
    </div>
</form>
