<!-- find a sports field to play at -->
<!-- <form ng-submit="findFields()">
    <div class="row">
        <div class="offset-by-three six columns" >
          <label for="fieldSearch">Search for a sports field</label>
             <input name="fieldSearch" class="u-full-width" id="fieldInput" ng-model="data.fieldSearch">
              </input> 
        <input class="button-primary" type="submit" value="Submit">
        </div>
      </div>
</form> -->
<!-- Submit a request for a game -->

<form ng-submit="requestGame()" >
  <div class="row">
    <div class="offset-by-three six columns" >
      <label for="dateInput">Time</label>
      <select 
        name="timeSelect" 
        class="u-full-width" 
        id="dateInput" 
        ng-options="option.name for option in data.availableOptions track by option.id" 
        ng-model="data.selectedOption">
      </select>
    </div>
  </div> <!-- end of row  -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="sportInput">Activity</label>
        <input
          type="text"
          class="u-full-width"
          placeholder="Enter your Activity here"
          id="sportInput" 
          ng-model="sportInput" 
          required />
    </div>
  </div> <!-- end of row  -->
  <div class="row">
      <div class="offset-by-three six columns">
        <label for="locationInput">Location</label>
          <input 
          type="text" 
          class="u-full-width"
          placeholder="Enter your desired location here"
          id="locationInput"
          ng-model="locationInput"
          required />
      </div>
    </div> <!-- end of row  -->
  
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="exampleMessage">Phone Number</label>
      <input 
        type="tel"
        class="u-full-width"
        placeholder="we'll text you soon when a game is available"
        id="phone"
        ng-model="smsNum"
        required />
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </div> <!-- end of row  -->
</form>
<div class="row">
 
  <div class="col-md-12" align="middle">
      <h3>Sports Field Suggestions</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?q=soccer+field&key=AIzaSyB8jkXh5tlm4CpvjLdNYxWhaVhpWZ3lRqQ" allowfullscreen></iframe>
  </div>

</div>
