<!-- find a sports field to play at -->
<!-- <form ng-submit="findFields()">
    <div class="row">
        <div class="offset-by-three six columns" >
          <label for="fieldSearch">Search for a sports field</label>
             <input name="fieldSearch" class="u-full-width" id="fieldInput" ng-model="data.fieldSearch">
              </input> 
        <input class="button-primary" type="submit" value="Submit">
        </div>
      </div>
</form> -->
<!-- Submit a request for a game -->
<head><script>
  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var map;
  var infowindow;

  function initMap() {
    var pyrmont = { lat: 29.968021, lng: -90.05899099999999 };

    map = new google.maps.Map(document.getElementById('map'), {
      center: pyrmont,
      zoom: 15
    });

    var request = {
      location: pyrmont,
      radius: '500',
      query: 'sports field'
    };

    service = new google.maps.places.PlacesService(map);
    service.textSearch(request, callback);
  }

  function callback(results, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        var place = results[i];
        createMarker(results[i]);
      }
    }
  }

  function createMarker(place) {
    var placeLoc = place.geometry.location;
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location,
      title: place.name,
      icon: place.image,
    });

    google.maps.event.addListener(marker, 'click', function () {
      infowindow.setContent(place.name);
      infowindow.open(map, this);
    });
  }
</script></head>
<form ng-submit="requestGame()" >
  <div class="row">
    <div class="offset-by-three six columns" >
      <label for="dateInput">Time</label>
      <select 
        name="timeSelect" 
        class="u-full-width" 
        id="dateInput" 
        ng-options="option.name for option in data.availableOptions track by option.id" 
        ng-model="data.selectedOption">
      </select>
    </div>
  </div> <!-- end of row  -->
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="sportInput">Activity</label>
        <input
          type="text"
          class="u-full-width"
          placeholder="Enter your Activity here"
          id="sportInput" 
          ng-model="sportInput" 
          required />
    </div>
  </div> <!-- end of row  -->
  <div class="row">
      <div class="offset-by-three six columns">
        <label for="locationInput">Location</label>
          <input 
          type="text" 
          class="u-full-width"
          placeholder="Enter your desired location here"
          id="locationInput"
          ng-model="locationInput"
          required />
      </div>
    </div> <!-- end of row  -->
  
  <div class="row">
    <div class="offset-by-three six columns">
      <label for="exampleMessage">Phone Number</label>
      <input 
        type="tel"
        class="u-full-width"
        placeholder="we'll text you soon when a game is available"
        id="phone"
        ng-model="smsNum"
        required />
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </div> <!-- end of row  -->
</form>
<div class="row">
 
  <div class="col-md-12" align="middle">
      <h3>Sports Field Suggestions</h3>
    <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?q=soccer+field&key=AIzaSyB8jkXh5tlm4CpvjLdNYxWhaVhpWZ3lRqQ" allowfullscreen></iframe>
  </div>

</div>
